.modal_overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  outline: 0;
  display: flex;
  align-items: center;
}
.modal_content {
  z-index: 100;
  background-color: #fff;
  position: relative;
  margin: auto;
  border-radius: 10px;
  max-width: 550px;
  width: 80%;
  height: auto;
  padding: auto;
  top: -10%;
  transition: 1ms;
}
.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_header h4 {
  margin-left: 20px;
}
.modal_button_close {
  font-size: 25px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  border: none;
  background: transparent;
}
.modal_body {
  padding: 1rem;
}
